body {
  background-image: url(./home_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
}

h1 { width: 30%; display: inline-block; }
ul { width: 60%; display: inline-block; }
ul.header { padding: 0; }

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content { text-align: center; }
.content h2 { padding: 0; margin: 0; }
.content li { margin-bottom: 10px; }
.active { color: #0099FF; }


form { padding-top: 10rem; }
label { display: block; font-size: 4rem; }
input[type="text"] { width: 30rem; font-size: 3rem; }
input[type="submit"] { width: 10rem; height: 10rem; }
